<template name="addExpense">

	<div id="addNewExpenseOverlay" class="overlay-contentscale">
	<div class="add_new_expense_form_wrapper">
			<div class="add_new_expense_form">
				<div class="container">
					<div class="row">
						<div class="col-lg-12">
							<form class="form" id="addNewExpenseForm">
								<div class="row">
									<div class="col-lg-12">
										<h1>New Expense
										<a href="#" id="closeAddNewExpense" class="pull-right">Close</a>
										</h1>

									</div>
								</div>
								<div class="row">
									<div class="col-lg-12">
										<div class="form-group">
											<label>What did you spend on?</label>
											<input type="text" id="title" class="form-control" placeholder="a cab ride?" />	
										</div>
									</div>
								</div>
							
								<div class="row">
									<div class="col-lg-6">
										<div class="form-group">
											<label>
												How much did you spend?
											</label>
											<input type="number" id="cost" class="form-control" placeholder="4.50" min="0" max="9999" step="0.10" size="4" />
										</div>
									</div>
									<div class="col-lg-6">
										<div class="form-group">
											<label>
												Where did you spend?
											</label>
											<input type="text" id="location" class="form-control" placeholder="the local bar..." />
										</div>
									</div>
								</div> <!-- .row -->
								<div class="row">
									<div class="col-lg-12">
										<div class="form-group">
										<label>Select Category</label>
										<br />
										</div>
										<div class="form-group">
											
											<label class="radio-inline ice-cream">
												<input type="radio" name="category" id="category" value="Food" />
												<span class="radio_caption">Food</span>
											</label>

											<label class="radio-inline theatre">
												<input type="radio" name="category" id="category" value="Movies" />
												<span class="radio_caption">Movies</span>
											</label>

											<label class="radio-inline vespa">
												<input type="radio" name="category" id="category" value="Transport" />
												<span class="radio_caption">Transport</span>
											</label>

											<label class="radio-inline passport">
												<input type="radio" name="category" id="category" value="Travel" />
												<span class="radio_caption">Travel</span>
											</label>

											<label class="radio-inline bill">
												<input type="radio" name="category" id="category" value="Misc." />
												<span class="radio_caption">Misc.</span>
											</label>
										
										</div>


									</div>
								</div> <!-- .row -->
								<div class="row">
									<div class="col-lg-12">
										<br /><br />
										<button type="submit" class="btn btn-primary">Save</button>
									
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

</template>